PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/suyel_db?retryWrites=true&w=majority

# MarzPay Uganda Credentials
MARZ_PAY_API_URL=https://wallet.wearemarz.com/api/v1/payments/collect
MARZ_PAY_API_KEY=your_api_key_here
MARZ_PAY_SECRET_KEY=your_secret_key_here
MARZ_PAY_AUTH_HEADER=your_base64_auth_header_here
